<div class="content-container">
  <app-translation-station class="">

  </app-translation-station>
</div>

<footer class="container d-flex flex-row justify-content-center mt-auto">
  <div class="footer-bg col-8 col-sm-6 col-md-4 rounded d-flex flex-row text-center text-lg-start text-muted mt-auto">
    <a class="col-6 align-self-center"
       href="https://github.com/BardiTheWeird/japanese-input-helper">
      <span class="text-muted">GitHub</span>
    </a>
    <button *ngIf="!isMobile" [fxHide]="isMobile" mat-button class="col-6"
            (click)="onShortcutWindowRequested()">
      Shortcuts
    </button>
  </div>
</footer>

